In [2]:
"""This is a vertical format association rule and used DFS(deapth-first search)
    Most of the vertical format outperforms Horizontal Formating.
    ECLAT out performs Apriori association algorithmn.
    
    When compared with Apriory, ECLAT gives fewer metrics. It is used in association rule mining or frequent itemset.
    Unlike Apriori, We cannot clearly understand the association of one item to other"""

'This is a vertical format association rule and used DFS(deapth-first search)\n    Most of the vertical format outperforms Horizontal Formating.\n    ECLAT out performs Apriori association algorithmn'

In [1]:
# Importing all the necessary libraries
import pandas as pd
from pyECLAT import ECLAT

In [2]:
#Reading data
data = pd.read_excel('../DATA/Online_Retail.xlsx') 
data.head() #This is not useful for the ECLAT algorithm
"""REASON: Number of rows = 541909,
           Number of Columns = 08
    When converted into vertical formatting,
           Number of columns = 541909
           Number of rows = 08
    The time taken will be much more than Apriori algorithm
           """

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [7]:
# Converting the Horizontal format data into vertical format data
vertical_data = pd.DataFrame([
    ['beer', 'wine', 'cheese'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'cheese'],
    ['potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['eggs', 'flower', 'butter', 'beer', 'potato chips'],
    ['wine', 'beer'],
    ['beer', 'potato chips'],
    ['butter', 'eggs'],
    ['beer', 'potato chips'],
    ['flower', 'eggs'],
    ['beer', 'potato chips'],
    ['eggs', 'flower', 'butter', 'wine', 'cheese'],
    ['beer', 'wine', 'potato chips', 'cheese'],
    ['wine', 'cheese'],
    ['beer', 'potato chips'],
    ['wine', 'cheese'],
    ['beer', 'potato chips']
])
vertical_data.head()

      0             1       2       3             4
0  beer          wine  cheese    None          None
1  beer  potato chips    None    None          None
2  eggs        flower  butter  cheese          None
3  eggs        flower  butter    beer  potato chips
4  wine        cheese    None    None          None

In [22]:
# Specifing the values used in the processing
min_n_products = 2 # minimum length of ITEMSET
support = 7  # the combination should be present in atleast 3 Transactions i.e. Tidset should contain 3 transactions
min_support = support/len(vertical_data)  # support in decimal
max_length = vertical_data.shape[1]

In [23]:
my_eclat = ECLAT(data=vertical_data, verbose=True)

100%|████████████████████████████████████████████| 8/8 [00:00<00:00, 989.08it/s]
100%|█████████████████████████████████████████| 8/8 [00:00<00:00, 107892.06it/s]
100%|███████████████████████████████████████████| 8/8 [00:00<00:00, 2713.66it/s]

In [24]:

rule_indices, rule_supports = my_eclat.fit(min_support=min_support,
                                           min_combination=min_n_products,
                                           max_combination=max_length)

print(rule_supports)

Combination 2 by 2

10it [00:00, 786.75it/s]

Combination 3 by 3

10it [00:00, 740.39it/s]

Combination 4 by 4

5it [00:00, 637.28it/s]

Combination 5 by 5

1it [00:00, 504.97it/s]

{'cheese & wine': 0.35, 'potato chips & beer': 0.45}